var config = module.exports = {}

config.static = {}
config.static.root = '/'

config.root = '/path/to/mlabhk-site'

config.server = {}
config.server.port = 3000
config.server.secret = '*********'

config.facebook = {}
config.facebook.appId = '*********'
config.facebook.appSecret = '**********'
